{
  "s3": {
    "bucket": "",
    "key": "",
    "secret": ""
  },
  "qiniu": {
    "access_key": "",
    "secret_key": ""
  },
  "youku": {
    "client_id": "",
    "client_secret": "",
    "access_token": "",
    "refresh_token": ""
  },
  "monitor": {
    "key": "",
    "cert": "",
    "user": "",
    "password": ""
  }
}
